@import url("https://fonts.googleapis.com/css2?family=My+Soul&family=Sail&family=Updock&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(205, 205, 201);
}
.section-container {
  width: 100%;
  margin: 0 auto;
}

.section1 {
  background-color: rgb(42, 4, 42);
}

.vskew {
  transform: skewY(-2deg);
  padding: 50px;
  background-color: rgb(251, 255, 194);
}

.vskew .container {
  transform: skewY(2deg);
  padding: 20px 20px 40px;
}
.vskew-yellow {
  background-color: rgb(253 247 164);
  color: #111;
  background-repeat: no-repeat, repeat;
  background-image: url(images/image7.jpeg);
  background-blend-mode: multiply;
}
.vskew-purple {
  background-color: rgb(42, 4, 42);
  color: #fff;
}
.vskew-purple2 {
  background-color: rgb(56, 55, 56);
  color: #fff;
  background-repeat: no-repeat, repeat;
  background-image: url(images/image8.jpeg);
  background-blend-mode: multiply;
  background-position: center;
}

.vskew-purple3 {
  background-color: rgb(208 208 208);
  color: #fff;
  background-repeat: no-repeat, repeat;
  background-image: url(images/image6.jpeg);
  background-blend-mode: multiply;
  background-position: center;
}
.vskew-pink2 {
  background-color: #ffef84;
  background-repeat: no-repeat, repeat;
  background-image: url(images/image5.jpeg);
  background-blend-mode: multiply;
}
.vskew-pink {
  background-color: #e5dec8;
  background-color: #ffcced;
  background-repeat: no-repeat, repeat;
  background-image: url(images/image4.jpeg);
  background-blend-mode: multiply;
}
.vskew-yellow2 {
  background-color: rgba(126, 0, 63, 0.993);
  color: #fff;
  background-repeat: no-repeat, repeat;
  background-image: url(images/image3.jpeg);
  background-blend-mode: multiply;
  background-position: center;
}
.vskew-dark-pink {
  background-color: rgb(110, 9, 60);
  color: #fff;
  background-repeat: no-repeat, repeat;
  background-image: url(images/imgpink.jpeg);
  background-blend-mode: multiply;
}
.vskew-dark-white {
  background-color: rgb(164, 164, 160);
  color: #fff;
  background-repeat: no-repeat, repeat;
  background-image: url(images/image2.jpeg);
  background-blend-mode: multiply;
}
.vskew-gray {
  background-color: rgb(205, 205, 201);
}
.section10 {
  background-color: rgb(205, 205, 201);
}
h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
h2 {
  font-size: 30px;
  margin-left: 180px;
  letter-spacing: 7px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.icon {
  position: relative;
  color: #fff;
  text-align: center;
  font-size: 50px;
  top: -10px;
}
.title-space {
  letter-spacing: 15px;
  color: #fff;
  text-align: center;
}

.big-letter {
  position: relative;
  font-size: 150px;
  font-family: "Sail", cursive;
  font-weight: 100;
  top: -30px;
  margin-bottom: 0;
}
.big-letter2 {
  position: relative;
  font-size: 150px;
  font-family: "My Soul", cursive;
  font-weight: 100;
  margin-bottom: 0;
}
.big-letter3 {
  position: relative;
  font-size: 150px;
  font-family: "Sail", cursive;
  font-weight: 100;
  margin-bottom: 0;
}
.title-text3 {
  margin-left: 150px;
}

.title-text2 {
  margin-left: 290px;
  text-transform: uppercase;
  position: relative;
  top: -30px;
}
.para-text {
  font-size: 19px;
  text-align: justify;
  margin-left: 290px;
  width: 60%;
  font-family: "Poppins", sans-serif;
  position: relative;
  top: -20px;
}
.white-text {
  color: rgb(194, 194, 194);
}
.vskew1 {
  transform: skewY(-2deg);
  padding: 20px 0 30px 30px;
  overflow: hidden;
}
.vskew1 .container1 {
  transform: skewY(2deg);
  padding: 0;
}
.flex-container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.flex-text-box1 {
  flex-basis: 80%;
  padding: 0px 70px 0 0;
}
.flex-text-box1 p {
  font-size: 16px;
  text-align: justify;
  font-family: "Poppins", sans-serif;
}
.logo-box2 {
  flex-basis: 15%;
  padding: 0px 40px 0 0;
}
.logo-box2 h3 {
  font-size: 19px;
  letter-spacing: 9px;
  font-family: "Poppins", sans-serif;
}
.logo-box2 p {
  font-size: 16px;
  text-align: right;
  font-family: "Poppins", sans-serif;
}
.end-para {
  margin-top: 30px;
}
@media (max-width: 991px) {
  .flex-container {
    flex-direction: column;
  }
  .logo-box2 p {
    text-align: left;
  }
  .title-text3 {
    margin-left: 0px;
  }

  h2 {
    font-size: 20px;
    margin-left: 0;
  }
  .big-letter3 {
    font-size: 127px;
  }
  .para-text {
    font-size: 19px;
    margin-left: 0;
    width: 100%;
    top: 0px;
  }
  .title-text2 {
    margin-left: 0;
    top: 0;
  }
  .flex-text-box1 {
    flex-basis: 100%;
    padding: 0px 30px 0 0;
  }
  .logo-box2 {
    flex-basis: 100%;
  }
}
@media (max-width: 769px) {
  .title-space {
    letter-spacing: 8px;
  }
  .big-letter {
    font-size: 122px;
  }
  .big-letter2 {
    font-size: 100px;
  }
  .vskew {
    padding: 20px;
  }
  .vskew .container {
    transform: skewY(2deg);
    padding: 20px 10px 40px;
  }
}
@media (max-width: 569px) {
  .title-space {
    letter-spacing: 2px;
  }
  .big-letter {
    font-size: 91px;
    top: -12px;
  }
  .big-letter2 {
    font-size: 78px;
  }
  .big-letter3 {
    font-size: 90px;
  }
  h2 {
    font-size: 20px;
    letter-spacing: 1px;
  }
  .para-text {
    font-size: 16px;
  }
  h1 {
    font-size: 20px;
  }
  .logo-box2 h3 {
    letter-spacing: 5px;
    margin-top: 10px;
  }
  .icon {
    font-size: 39px;
  }
}
